#pentagramImg{
  animation: turning 30s infinite linear;
  background-image: url("../img/pentagram.PNG");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 100%;
  left: -25vw;
  opacity: 50%;
  width: 50vw;
}
#project{
  align-items: center;
  justify-content: flex-end;
}
#projectContent{
  justify-content: space-evenly;
  height: 50%;
  width: 75vw;
}

#redirectToGame{
  width: 20%;
}
